<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!--<link rel="stylesheet" href="{{ asset('styles/tables.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Bienvenue dans notre Atelier</h1>
        <p class="text-center">Commencez à gérer les véhicules avec notre application !</p>
        <div class="text-center">
            <a href="{{ path('vehicule_list') }}" class="btn btn-primary btn-lg">Gérer les véhicules</a>
        </div>
    </div>

</body>
</html>
